{% extends 'base.html'%}
{% load static %}

{% block title %}
    <!-- Title -->
    <title>CoviArmour | 404 Page </title>
{% endblock %}


{% block body %}
		<!-- Start Page Title Area -->
		<div class="page-title-area bg-1" style="max-height: 10rem;">
		  <div class="container">
			<div class="page-title-content" style="margin-top: -2.3rem;">
			  <h2>404 Page Not Found</h2>
			  <ul>
				<li>
				  <a href="{% url 'core:home' %}">
					Home
				  </a>
				</li>

				<li class="active">404 Page Not Found</li>
			  </ul>
			</div>
		  </div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start 404 Error -->
		<div class="error-area">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="error-content-wrap">
						<h1><span class="a">4</span> <span class="red">0</span> <span class="b">4</span> </h1>
						<h3>Oops! Page Not Found</h3>
						<p>The page you were looking for could not be found.</p>
						<a href="{% url 'core:home' %}" class="default-btn page-btn">
							Return To Home Page
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End 404 Error -->
		

{% endblock %}