{% extends 'base.html'%}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/temp.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
{% endblock %}

{% block title %}
    <!-- Title -->
    <title>CoviArmour | Certifications </title>
{% endblock %}

{% block body %}
    <!-- Start Page Title Area -->
    <div class="page-title-area bg-1" style="max-height: 10rem;">
      <div class="container">
        <div class="page-title-content" style="margin-top: -2.3rem;">
          <h2>Certifications</h2>
          <ul>
            <li>
              <a href="index.html">
                Home
              </a>
            </li>

            <li class="active">Certifications</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Process Area -->
    <section class="process-area bg-color pt-100 pb-70">
      <div class="container">
        <div class="section-title">
          <h2>Certificates Owned by CoviArmour</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="single-process2">
              <img
                src="{% static 'img/certificates/img42.png' %}"
                alt="Image"
                class="certis-img"
              />

              <span>01</span>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="single-process2">
              <img
                src="{% static 'img/certificates/img43.png' %}"
                alt="Image"
                class="certis-img"
              />

              <span>02</span>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
            <div class="single-process2">
              <img
                src="{% static 'img/certificates/img44.png' %}"
                alt="Image"
                class="certis-img"
              />

              <span>03</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="single-process2">
              <img
                src="{% static 'img/certificates/img51.png' %}"
                alt="Image"
                class="certis-img"
              />

              <span>01</span>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="single-process2">
              <img
                src="{% static 'img/certificates/img47.png' %}"
                alt="Image"
                class="certis-img"
              />

              <span>02</span>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
            <div class="single-process2">
              <img
                src="{% static 'img/certificates/img48.png' %}"
                alt="Image"
                class="certis-img"
              />

              <span>03</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Process Area -->


{% endblock %}