{% extends 'base.html'%}
{% load static %}

{% block title %}
    <!-- Title -->
    <title>CoviArmour | Home </title>
{% endblock %}

{% block body %}
    <!-- Start Hero Slider Area -->
    <section class="hero-slider-area" style="max-height: 674px;">
      <div class="hero-slider-wrap owl-carousel owl-theme">
        <div class="slider-item slider-item-bg-2">
          <div class="d-table">
            <div class="d-table-cell">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-9">
                    <div class="slider-text two">
                      <h1>India's Most Trusted AntiMicrobial Coating</h1>
<!--                      <p>-->
<!--                        NYSA Healthcare Pvt. Ltd is one of the subsidiaries of-->
<!--                        NYSA Communications Pvt. Ltd. NYSA Communications is a-->
<!--                        CMMI Level 5 certified company. Under the leadership of-->
<!--                        MD, Mr. Puneet Kumar, the company has successfully-->
<!--                        provided education solution to many prestigious clients-->
<!--                        in the Asian region.-->
<!--                      </p>-->

<!--                      <div class="slider-btn">-->
<!--                        <a class="default-btn" href="contact.html">-->
<!--                          Contact Us-->
<!--                        </a>-->
<!--                        <a class="default-btn active" href="about.html">-->
<!--                          Learn More-->
<!--                        </a>-->
<!--                      </div>-->
                    </div>
                  </div>

<!--                  <div class="col-lg-3">-->
<!--                    <div class="video-btn-animat two">-->
<!--                      <a-->
<!--                        href="https://www.youtube.com/watch?v=-z-wtyXjFIg"-->
<!--                        class="video-btn popup-youtube"-->
<!--                      >-->
<!--                        <i class="bx bx-play"></i>-->
<!--                      </a>-->
<!--                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="slider-item slider-item-bg-3">
          <div class="d-table">
            <div class="d-table-cell">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-9">
                    <div class="slider-text one">
                      <h1>Protect your Family and Workspace with CoviArmour</h1>
<!--                      <p>-->
<!--                        CoviArmour is a high-performance disinfectant coating-->
<!--                        that synergistically combines release killing, contact-->
<!--                        killing, magnetic attraction and Non-fouling nature-->
<!--                        which makes the coating a lethal weapon to kill microbes-->
<!--                        at all times, non-stop, 24×7.-->
<!--                      </p>-->

<!--                      <div class="slider-btn">-->
<!--                        <a class="default-btn" href="contact.html">-->
<!--                          Contact Us-->
<!--                        </a>-->
<!--                        <a class="default-btn active" href="about.html">-->
<!--                          Learn More-->
<!--                        </a>-->
<!--                      </div>-->
                    </div>
                  </div>

<!--                  <div class="col-lg-3">-->
<!--                    <div class="video-btn-animat one">-->
<!--                      <a-->
<!--                        href="https://www.youtube.com/watch?v=-z-wtyXjFIg"-->
<!--                        class="video-btn popup-youtube"-->
<!--                      >-->
<!--                        <i class="bx bx-play"></i>-->
<!--                      </a>-->
<!--                    </div>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>


          <div class="slider-item slider-item-bg-1">
            <div class="d-table">
              <div class="d-table-cell">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-lg-9">
                      <div class="slider-text one">
                        <h1>A safe and efficient solution to fight Covid-19</h1>
  <!--                      <p>-->
  <!--                        CoviArmour is a high-performance disinfectant coating-->
  <!--                        that synergistically combines release killing, contact-->
  <!--                        killing, magnetic attraction and Non-fouling nature-->
  <!--                        which makes the coating a lethal weapon to kill microbes-->
  <!--                        at all times, non-stop, 24×7.-->
  <!--                      </p>-->

  <!--                      <div class="slider-btn">-->
  <!--                        <a class="default-btn" href="contact.html">-->
  <!--                          Contact Us-->
  <!--                        </a>-->
  <!--                        <a class="default-btn active" href="about.html">-->
  <!--                          Learn More-->
  <!--                        </a>-->
  <!--                      </div>-->
                      </div>
                    </div>

  <!--                  <div class="col-lg-3">-->
  <!--                    <div class="video-btn-animat one">-->
  <!--                      <a-->
  <!--                        href="https://www.youtube.com/watch?v=-z-wtyXjFIg"-->
  <!--                        class="video-btn popup-youtube"-->
  <!--                      >-->
  <!--                        <i class="bx bx-play"></i>-->
  <!--                      </a>-->
  <!--                    </div>-->
  <!--                  </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="shape">
        <img src="{% static 'img/home-slider/1.png' %}" alt="Image" />
      </div>


    </section>
    <!-- End Hero Slider Area -->

    <!-- Strata Feature Area -->
    <section class="feature-area pb-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <div class="feature-wrap">
              <div class="row">
                <div class="col-lg-4 col-sm-6">
                  <div class="single-feature">
                    <i class="flaticon-satisfaction"></i>
                    <h3>Complete Protection</h3>
                    <p>Kills 99% bacteria and virus</p>
                  </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                  <div class="single-feature">
                    <i class="flaticon-cleaning"></i>
                    <h3>Long Lasting</h3>
                    <p>Upto 90 Days Protection</p>
                  </div>
                </div>

                <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                  <div class="single-feature">
                    <i class="flaticon-support"></i>
                    <h3>Safe for Everyone</h3>
                    <p>Safe for even Newborns</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!--          <div class="col-lg-3">-->
<!--            <div class="hot-line">-->
<!--              <span>Hot Line</span>-->
<!--              <h3><i class="bx bx-phone-call"></i> Contact Us Today!</h3>-->
<!--              <a href="tel:+91 892 997 9971">+91 892 997 9971</a>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </section>
    <!-- End Feature Area -->

    <!-- Start About Area Area -->
    <section class="about-area pb-100">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="about-content">
              <h2>Key Features of CoviArmour</h2>
              <p>
                Our Scientific’s team of experienced investors, physicians,
                scientists, operators, and technical experts help build this
                innovation based business. We invest for the long term, and are
                heavily involved in, and committed to, the growth and success of
                our portfolio, company and our partners.
              </p>

              <ul>
                <li>
                  <i class="flaticon-checked"></i>
                  One spray protects for 90 days*
                </li>
                <li>
                  <i class="flaticon-checked"></i>
                  High performance antimicrobial active coating.
                </li>
                <li>
                  <i class="flaticon-checked"></i>
                  Tested in lab for 100% efficiency.
                </li>
                <li>
                  <i class="flaticon-checked"></i>
                  Most advanced nanotech innovation in surface coating.
                </li>
                <li>
                  <i class="flaticon-checked"></i>
                  Kills 99.99% viruses, bacteria and fungi on any surface.
                </li>
                <li></li>
                <li>
                  <i class="flaticon-checked"></i>
                  Nontoxic, safe for even newborns.
                </li>
              </ul>

              <a href="about.html" class="default-btn">
                Learn More
              </a>
            </div>
          </div>
          <div class="col-lg-6 mob-hide">
            <div class="about-img">
              <img src="https://cdn2.iconfinder.com/data/icons/cornavirus-covid-19/64/_sanitize_hand_wash_soap_clean_hygiene-512.png" alt="Image" class="about-img-1">
              <div class="about-child">
                <img src="{% static 'img/about-child.jpg' %}" alt="Image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Area -->

    <!-- Start Process Area -->
    <section class="process-area bg-color pt-100 pb-70">
      <div class="container">
        <div class="section-title">
          <h2>How It Works</h2>
          <p>
            We Thrive Ourselves On Creativity, Out of Box Thinking &
            Determination.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-sm-4">
            <div class="single-process" style="height: 480px;">
              <img src="{% static 'img/3-month.jpg' %}" alt="Image" height="325"/>
              <h3>Upto 90-Day Protection</h3>
              <p>
                Upto 90-day* guarantee against re-contamination and infections
                caused by any bacteria, viruses and fungi.It is the only
                non-sacrificial, persistent anti-germ product in the world.
              </p>

              <a href="about.html" class="read-more">
                Learn More
                <i class="bx bx-plus"></i>
              </a>

              <span>01</span>
            </div>
          </div>

          <div class="col-lg-3 col-sm-4">
            <div class="single-process" style="height: 480px;">
              <img src="{% static 'img/non-toxic.jpg' %}" alt="Image" />
              <h3>Non-Toxic</h3>
              <p>
                NYSA Helthcare’s antimicrobial active has EPA Certified
                Ingredients, CE certified and is one of the safest, non-toxic to
                human active ingredients in the world. The unique antimicrobial
                active attracts microbes to the surface and kills them
              </p>

              <a href="about.html" class="read-more">
                Learn More
                <i class="bx bx-plus"></i>
              </a>

              <span>02</span>
            </div>
          </div>

          <div class="col-lg-3 col-sm-4">
            <div class="single-process" style="height: 480px;">
              <img src="{% static 'img/process/1.png' %}" alt="Image" />
              <h3>High adhesion Covalent Bonding</h3>
              <p>
                Higher adhesion Covalent bonding enables the solution to bond to
                any surface and can be applied to all types of surfaces, porous
                and non-porous and even textile .
              </p>

              <a href="about.html" class="read-more">
                Learn More
                <i class="bx bx-plus"></i>
              </a>

              <span>03</span>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="single-process" style="height: 480px;">
              <img src="{% static 'img/process/2.png' %}" alt="Image" />
              <h3>Lethal Multi Anti-microbial Technologies</h3>
              <p>
                Doped Nano Particles, Slow release Disinfectants, Inhabitable
                Spiky Surface, High adhesion Charges and High Conductive Charge
                on the surface kills the viruses and other microbes.
              </p>

              <a href="about.html" class="read-more">
                Learn More
                <i class="bx bx-plus"></i>
              </a>

              <span>04</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Process Area -->



{% endblock %}