{% load static %}

    <!-- Primary Meta Tags -->

    <meta name="title" content="CoviArmour | AntiMicrobial Coating to fight Covid-19">
    <meta name="description" content="One spray protects for 90 days* | High performance antimicrobial active coating. | Tested in lab for 100% efficiency. | Most advanced nanotech innovation in surface coating. | Kills 99.99% viruses, bacteria and fungi on any surface. | Nontoxic, safe for even newborns.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.coviarmour.com/">
    <meta property="og:title" content="CoviArmour | AntiMicrobial Coating to fight Covid-19">
    <meta property="og:description" content="One spray protects for 90 days* | High performance antimicrobial active coating. | Tested in lab for 100% efficiency. | Most advanced nanotech innovation in surface coating. | Kills 99.99% viruses, bacteria and fungi on any surface. | Nontoxic, safe for even newborns.">
    <meta property="og:image" content="{% static 'img/logo.png' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.coviarmour.com/">
    <meta property="twitter:title" content="CoviArmour | AntiMicrobial Coating to fight Covid-19">
    <meta property="twitter:description" content="One spray protects for 90 days* | High performance antimicrobial active coating. | Tested in lab for 100% efficiency. | Most advanced nanotech innovation in surface coating. | Kills 99.99% viruses, bacteria and fungi on any surface. | Nontoxic, safe for even newborns.">
    <meta property="twitter:image" content="{% static 'img/logo.png' %}">
